*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1rem/1.5 'Circular Std', 'Inter var', system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #222a3f;
  background-color: #fff;
  margin: 0;
  padding: 1rem;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

pre,
code {
  font: 0.8125rem/1.5 'SF Mono', SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

pre {
  white-space: pre-wrap;
}
