/**
 * Search box
 */

.sj-search-holder-outer {
  padding: 0.9em 0px;
  position: relative;
  min-height: 72px;
  box-sizing: border-box;
}

.sj-overlay .sj-search-holder-outer {
  margin-right: 34px;
}

.sj-search-holder-inner {
  position: absolute;
  width: 100%;
}

.sj-search-bar-input-common {
  font-size: 20px;
  padding: 0.4em;
  outline: none;
  letter-spacing: 0.6px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  width: 100%;
  box-shadow: 0 0 0 1px #ddd;
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
}

.sj-search-bar-completion {
  color: #bebebe;
}

.sj-search-bar-input {
  position: absolute;
  background: transparent;
  color: #666;
  top: 0px;
  left: 0px;
}

.sj-search-icon {
  display: none;
}

/**
 * Autocomplete override
 */

.sj-result-summary-autocomplete-override {
  display: block;
  padding-top: 16px;
  font-size: 1.2em;
}

.sj-result-summary-autocomplete-override > a {
  color: #1a0dab;
}

@media (max-width: 768px) {
  .sj-overlay .sj-search-holder-outer {
    margin-right: 54px;
  }
}
