.sj-autocomplete-dropdown {
  position: relative;
}

.sj-suggestions {
  border: 1px solid #ddd;
  cursor: pointer;
}

.sj-suggestion {
  font-size: 18px;
  padding: 8px 8px;
  background-color: #fff;
  color: #666;
}

.sj-suggestion strong {
  font-weight: 600;
  color: #333;
}

.sj-suggestion.sj-suggestion-selected,
.sj-suggestion:hover {
  background-color: #ddd;
}
