.app {
  text-align: center;
  background-color: #f8f8f8;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  padding: 1em;
  color: white;
}

.header input {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
