#sj-overlay-header {
  background-color: #202d5f;
  background-image: linear-gradient(#202d5f, #614381);
  background: radial-gradient(ellipse at center, #2989d8 11%,#207cca 38%,#1e5799 70%);
}

.sj-tab-active {
  color: #4285F4;
  border-color: #4285F4;
}

.sj-result-title a {
  color: #4285F4;
}

#sj-overlay-logo-image {
  padding-top: 10px;
  box-sizing: initial;
}

.sj-search-icon {
  display: none;
}

.sj-paginator>div.current {
  color: #4285F4;
}
