/*
  --------------- Header Search Input ----------------
*/

#sj-search-modal-input-holder-outer {
  padding: 0.9em 0px;
}

#sj-search-modal-input-holder-inner {
  position: relative;
  left: 0px;
}

.sj-search-bar-input-common {
  width: 500px;
  font-size: 20px;
  padding: 0.4em;
  outline: none;
  letter-spacing: 0.6px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  border-radius: 0;
  box-sizing: initial;
}

#sj-search-bar-completion {
  border: 1px solid #d9d9d9;
  color: #bebebe;
}

#sj-search-bar-input {
  border: 1px solid transparent;
  position: absolute;
  background: transparent;
  color: #666;
  top: 0px;
  left: 0px;
}

.sj-search-icon {
  display: none;
}
