/**
 * General setup.
 */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f7f7f7;
}
body {
    margin: 20px;
}
code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #eee;
    border: 1px solid #999;
    padding: 2px;
    border-radius: 4px;
    font-size: 14px;
}
div.dotted {
    border: 2px dashed #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
}
ul > li {
    margin: 10px;
}

/**
 * Search Box
 */
#sj-search-modal-input-holder-outer {
  padding: 0.9em 0px;
}

#sj-search-modal-input-holder-inner {
  position: relative;
  left: 0px;
}

.sj-search-bar-input-common {
  width: 500px;
  font-size: 20px;
  padding: 0.4em;
  outline: none;
  letter-spacing: 0.6px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  border-radius: 0;
  box-sizing: initial;
}

#sj-search-bar-completion {
  border: 1px solid #d9d9d9;
  color: #bebebe;
}

#sj-search-bar-input {
  border: 1px solid transparent;
  position: absolute;
  background: transparent;
  color: #666;
  top: 0px;
  left: 0px;
}

.sj-search-icon {
  display: none;
}

/**
 * Search Results
 */
.sj-result-summary {
    padding-bottom: 1.5em;
    font-size: 16px;
    color: #aaa;
}
.sj-result-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px
}
.sj-result-title a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    line-height: 21.6px
}
.sj-result-title a:hover {
    text-decoration: underline
}
.sj-result-description {
    color: #545454;
    font-size: 15px;
    line-height: 22px;
    overflow-wrap: break-word;
    margin-top: 2px;
    margin-bottom: 4px
}
.sj-result-url {
    font-size: 13px;
    line-height: 18.2px;
    margin: 0;
    color: #a2a2a2
}
.sj-result-url a {
    text-decoration: none;
    color: #a2a2a2
}
.sj-result-list>* {
    margin-top: 1em
}
.sj-result-list>:first-child {
    margin-top: 0
}
.sj-paginator {
  margin: 1em 0;
  text-align: center;
  max-width: 700px;
}

.sj-paginator > div {
  display: inline;
  padding: 10px;
  color: #777;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.sj-paginator > div.current {
  color: #333;
}

.sj-paginator > div.disabled {
  color: #aaa;
}
