{
  "extends": ["@sajari/eslint-config"],
  "env": {
    "browser": true
  },
  "rules": {},
  "settings": {
    "react": {
      "pragma": "h",
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./docs/tsconfig.eslint.json"
  }
}
