@import url('https://fonts.googleapis.com/css?family=Lato');

#sj-overlay {
  font-family: 'Lato', sans-serif;
}

.sj-result-title > a {
  color: #ed6e24;
}

.sj-tab-active {
  color: #ed6e24;
  border-bottom: 3px solid #ed6e24;
}

.sj-paginator .active {
  color: #ed6e24;
}
