/**
 * Paginator
 */

.sj-paginator {
  margin: 1em 0;
  text-align: center;
}

.sj-paginator > div {
  display: inline;
  padding: 10px;
  color: #777;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.sj-paginator > div.current {
  color: #333;
}

.sj-paginator > div.disabled {
  color: #aaa;
}
