/**
 * Results
 */

.sj-result-summary {
  padding-bottom: 1.5em;
  font-size: 16px;
  color: #aaa;
}

.sj-result {
  clear: both;
}

.sj-result-list > * {
  margin-top: 1.5em;
}

.sj-result-list > :first-child {
  margin-top: 0;
}

.sj-result-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sj-result-title a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  line-height: 21.6px;
}

.sj-result-title a:hover {
  text-decoration: underline;
}

.sj-result-description {
  color: #545454;
  font-size: 15px;
  line-height: 22px;
  overflow-wrap: break-word;
  margin-top: 2px;
  margin-bottom: 4px;
}

.sj-result-url {
  font-size: 13px;
  line-height: 18.2px;
  margin: 0;
  color: #a2a2a2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sj-result-url a {
  text-decoration: none;
  color: #a2a2a2;
}

.sj-result-url a[href$=".pdf"]::before {
  content: "PDF";
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 0.7em;
  margin-right: 0.5em;
  padding: 2px 4px;
}

.sj-result-url a[href$=".doc"]::before {
  content: "DOC";
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 0.7em;
  margin-right: 0.5em;
  padding: 2px 4px;
}

.sj-result-url a[href$=".docx"]::before {
  content: "DOCX";
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 0.7em;
  margin-right: 0.5em;
  padding: 2px 4px;
}

.sj-result-url a[href$=".xml"]::before {
  content: "XML";
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 0.7em;
  margin-right: 0.5em;
  padding: 2px 4px;
}

.sj-result-image-container {
  float: left;
  width: 100px;
}

.sj-result-image-container img {
  max-height: 90px;
  max-width: 90px;
}
